*{
    font-family: Arial;
}
body{
   margin: 0;
   padding: 0;
}

/*======================CABEÇARIO DO SITE=======================================================================*/
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.menuMobile{
    display: none;
    width: 40px;
    height: 40px;    
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mmLine{
    height: 3px;
    background-color: #39aae1;
    line-height: 2px;
    
}

.container{
    display: flex;  /*aqui vai deixar o logo e o menu um do lado do outro*/
    justify-content: space-between; /*aqui vai deixar logo do lado direito e menu lado esquerdo*/
    width: 990px;   
}    
.logo{
    display: flex;
    align-items: center;/*aqui vai alinhar o logo ao centro verticalmente*/
}
.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial;
}
nav .active a,
nav a:hover{
    background-color: #39aae1;
    color: white;
}

/*==========================================================SECTION BANNER=====================================*/

#banner{
    display: flex;
    justify-content: center;
    background-image:url('../images/img1.jpg');
    height: 670px;
    background-size: cover;
    background-position: center;
}
.column{
    flex-direction: column;
}
.banner_headeline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;     
}
.banner_headeline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px black;
    margin: 0;
    padding: 0;
    max-width: 350px;
    font-family: Arial;
}
.banner_headeline h2{
    color: white;
    font-size: 20px;
    text-shadow: 0px 1px 0px black;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
    font-family: Arial;
}
.banner_options{
    height: 210px;
    display: flex;  
}
.banner_options a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.banner1,
.banner2,
.banner3{
    flex: 1;
    color: white;
    font-family: Arial;
    padding: 20px;
}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*==========================================================SECTION GERAL=====================================*/

#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_barra{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article .news_data{
    display: flex;
    
}

article .news_posted_at{
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_coments{
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbunail{
    margin-top: 30px;
}
article .news_thumbunail img{
    width: 100%;
    height: auto;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
}
article .new_resume{
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}
/*==========================================================FOOTER==========================================*/

footer{
    color: white;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.flexColumn{
    flex-direction: column;
}
.footer_menu{
    display: flex;
  
}
.footer1,
.footer2,
.footer3{
    flex: 1;
    padding: 20px;
}
.footer1{
    background-color: #39aae1;
}
.footer2{
    background-color: #0079c7;
}
.footer3{
    background-color: #2b4c99;
}

.footer_area{
    display: flex;
    color: white;
}
.area{
    flex: 1;
}
footer .widget_title_text{
    color: white;
}

/*==========================================================RODA PE==========================================*/

.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

/*==========================================================RESPONSIVO==========================================*/

@media (max-width:600px){
    .banner_headeline h1{
        font-size: 55px;
        padding: 20px;
    }
    .banner_headeline h2{
        font-size: 17px;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    #geral section{
        padding: 20px;
    }
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
    }

    header{
        height: auto;
    }
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 


}   